rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow create, read, write, and delete access to the 'jobs' collection (TEMPORARY - NOT SECURE)
    match /jobs/{docId} {
      allow create, read, write, delete: if true;
    }

    // Allow create, read, write, and delete access to the 'internships' collection (TEMPORARY - NOT SECURE)
    match /internships/{docId} {
      allow create, read, write, delete: if true;
    }

    // Allow create access to the 'internshipApplications' collection
    match /internshipApplications/{docId} {
      allow create: if true;
      allow read, write, delete: if false;
    }

    // Allow create access to the 'jobApplications' collection
    match /jobApplications/{docId} {
      allow create: if true;
      allow read, write, delete: if false;
    }

    // Allow authenticated users to create their own user document in the 'users' collection
    // and read their own user document.
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null && request.auth.uid == userId;
      // Add rules for admin read access later if needed
    }

    // Deny access to all other documents by default
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
